<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div class="container" th:fragment="ourLocationsSummary">
    <div>
        <table class="table">
            <tr>
                <td>Wpływy z własnych lokalizacji:

                <p th:text=" 'Przelew:&nbsp;' + ${remittancePayment} + '&nbsp;zł' + '&nbsp;Gotówka:&nbsp;' + ${cashPayment} + '&nbsp;zł' "></p></td>
            </tr>
            <tr>
                <td>Wpływy z przedszkoli:
                <p th:text="${nurserySchoolIncome} + 'zł'"></p></td>
            </tr>
            <tr>
                <td>Wpływy z zajęć jednorazowych:
                <p th:text="${eventsIncome} + 'zł'"></p></td>
            </tr>
            <tr>
                <td>Wydatki instruktorow: <p th:text="${instructorExpense} + 'zł'"></p></td>
            </tr>
            <tr>
                <div th:replace="admin/instructorsCash :: cashFromInstrutors"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>