<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
    <style>
        footer {
            position: fixed;
            right: 10px;
            bottom: 10px;
        }

        .well {
            background-color: rgba(200, 245, 255, 0.5);
        }

        td.odstepy {
            padding: 0px 5px 0px 150px;
        }
    </style>
    <script>
        function countIncome() {

            var zysk = document.getElementById("income") -
                document.getElementById("tax") -
                document.getElementById("vat");
            document.getElementById('zysk').innerHTML = zysk;
                   }

    </script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="well well-sm ">
    <table>
        <tr>
            <td><img src="http://www.nowysacz.warsztatyrobotow.pl/file/2016/03/02/warsztaty_robotow_nowy_sacz.png"/>
            </td>
            <td class="odstepy"><p>
                <h1>Podsumowanie zysków</h1></p></td>
        </tr>
    </table>
</div>
<div class="container">
    <table class="table container">
        <tr>
            <td><b>Przychód:&nbsp;&nbsp;</b>
            <td id="income" th:text="${incomeSummary} + ' zł'"></td>
            </td></tr>


        <tr>
            <td><b>Koszty niefakturowane:&nbsp;&nbsp;</b></td>

            <td th:text="${noneBackExpenses} + ' zł'"></td>
        </tr>

        <tr>
            <td><b>Koszty fakturowane:&nbsp;&nbsp;</b></td>

            <td th:text="${paybackExpenses} + ' zł'"></td>
        </tr>

        <tr>
            <td><b>Do opodatkowania:&nbsp;&nbsp;</b></td>

            <td th:text="${incomeForTaxes} + ' zł'"></td>
        </tr>

        <tr>
            <td><b>Podatek VAT:&nbsp;&nbsp;</b></td>

            <td id="vat" th:text="${vat} + ' zł'"></td>
        </tr>
        <tr>
            <td><b>Podatek dochodowy:&nbsp;&nbsp;</b></td>

            <td id="tax" th:text="${tax} + ' zł'"></td>
        </tr>
        <tr>
            <td><b>Zysk:&nbsp;&nbsp;</b></td>
            <td th:text="${incomeSummary} - ${noneBackExpenses} - ${paybackExpenses} - ${vat} - ${tax} + ' zł'"></td>
        </tr>


    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>