<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
    <script>
        function potwierdzSubmit() {
            window.alert("Wydatek został dodany do listy");
        }
    </script>
</head>
<body>
<div th:fragment="wydatki">

    <form action="#" th:action="@{/instruktor/dodajWydatek}" th:object="${expense}" method="post">
        <input size="3" name="value" type="text" th:field="*{expenseValue}" placeholder="Kwota"/>
        <input size="35" name="target" type="text" th:field="*{expenseType}" placeholder="Cel"/>
        <input size="20" name="instructor" type="text" th:field="*{expenseInstructor}" placeholder="Instruktor"/>
        <input size="15" name="date" type="text"  th:field="*{expenseData}" placeholder="Data"/>
        <input type="submit" class="btn btn-primary" value="Dodaj wydatek"/>
    </form>

</div>

</body>
</html>