<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:fragment="cennik">

    <ul class="list-group">
        <li class="list-group-item">Bajka - 15zł/os</li>
        <li class="list-group-item">Bułgarska - 15złos</li>
        <li class="list-group-item">Lenkowo - 18zł/os</li>
        <li class="list-group-item">Kangurowe 300zł/przyjazd</li>
        <li class="list-group-item">Dąbrowa 800zł/przyjazd</li>
        <li class="list-group-item">Czeczów,Sokolska - 35zł/os</li>
        <li class="list-group-item">Ruczaj 19zł/h/os</li>
        <li class="list-group-item">Panda 17zł/os</li>
        <li class="list-group-item">Zielona wyspa 15zł/os</li>
        <li class="list-group-item">PP9 15zł/os</li>
        <li class="list-group-item">Alladyn 15zł/os</li>
        <li class="list-group-item">Nasze lokalizacje 20zł/h</li>
        <li class="list-group-item">Bonus za dodatkowa osobe - 10%</li>
        <li class="list-group-item">Bonus za platnosc 12 z góry - 20%</li>
    </ul>

</div>

</body>
</html>