<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:fragment="eventy">

    <form th:object="${event}" method="post">
        <input size="3" type="text" placeholder="Kwota" th:field="*{value}"/>
        <input size="35" type="text" placeholder="Jaki event" th:field="*{eventType}"/>
        <input size="15" id="datepicker3" name="date" type="text" placeholder="Data" th:field="*{date}"/>
        Czy faktura: <select th:field="*{faktura}">
        <option value="T">Tak</option>
        <option value="N">Nie</option>
    </select>
        <input type="submit" class="btn btn-primary" value="Dodaj event"/>
    </form>
    <br/><br/><br/>
    <div>
        <table class="table table-bordered table-condensed table-hover text-center">
            <tr style="font-weight: bold;"><b>Eventy w tym miesiącu:</b><br/></tr>
            <tr style="font-weight: bold;">
                <td>Typ eventu</td>
                <td>Cena</td>
                <td>Data</td>
                <td>Faktura</td>
                <td>Czy zapłacono</td>
            </tr>
            <tr th:each="event : ${eventList} ">
                <td th:text="${event.eventType}"></td>
                <td th:text="${event.value}"></td>
                <td th:text="${event.date}"></td>
                <td th:text="${event.faktura}"></td>
                <td th:switch="${event.isPaid}">
                    <div th:case="'T'">
                        <p>Zapłacono</p>
                    </div>
                    <div th:case="'N'">
                        <form th:action="@{/instruktor/(cenaWydarzenia=${event.value},dataWydarzenia=${event.date}, potwierdzenie=${'T'})}" th:object="${event}" method="post">
                            <!--(potwierdzenie=${'T'})-->
                            <input type="submit" class="btn btn-primary" value="Potwierdz wplate"/>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>


</div>

</body>
</html>