<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:fragment="faktury">
    <div>
        <table class="table table-bordered table-condensed table-hover text-center">
            <tr style="font-weight: bold;"><b>Faktury tym miesiącu:</b><br/></tr>
            <tr style="font-weight: bold;">
                <td>Zajęcia</td>
                <td>Cena/Liczba dzieci</td>
                <td>Data</td>
                <td>Faktura</td>
                <td>Czy zapłacono</td>
                <td>Uwagi</td>

            </tr>
            <tr th:each="event : ${eventList} ">
                <td th:text="${event.rodzajEventu}"></td>
                <td th:text="${event.cena}"></td>
                <td th:text="${event.data}"></td>
                <td th:switch="${event.faktura}">
                    <div th:case="'T'">
                        <p style="background-color: chartreuse">Tak</p>
                    </div>
                    <div th:case="'N'">
                        <p style=" background-color: lightsalmon">Nie</p>
                    </div>
                </td>
                <td th:switch="${event.czyZaplacono}">
                    <div th:case="'T'">
                        <p>Zapłacono</p>
                    </div>
                    <div th:case="'N'">
                        <form th:action="@{/instruktor/(cenaWydarzenia=${event.cena},dataWydarzenia=${event.data}, potwierdzenie=${'T'})}"
                              th:object="${event}" method="post">
                            <input type="submit" class="btn btn-primary" value="Potwierdz wplate"/>
                        </form>
                    </div>
                </td>
                <td th:text="${event.uwagi}"></td>
            </tr>
            <tr th:each="nurserySchool : ${nurserySchoolList} ">
                <td th:text="${nurserySchool.nazwaPrzedszkola}"></td>
                <td th:text="${nurserySchool.cena}*${nurserySchool.liczbaDzieci}"></td>
                <td th:text="${nurserySchool.data}"></td>
                <td><p style="background-color: chartreuse">Tak</p></td>
                <td th:switch="${nurserySchool.czyZaplacono}">
                    <div th:case="'T'">
                        <p>Zapłacono</p>
                    </div>
                    <div th:case="'N'">

                        <form th:action="@{/instruktor/przedszkole/(liczbaDzieci=${nurserySchool.liczbaDzieci},dataPrzedszkola=${nurserySchool.data}, potwierdzeniePrzedszkola=${'T'})}"
                              th:object="${nurserySchool}" method="post">
                            <input type="submit" class="btn btn-primary" value="Potwierdz wplate"/>
                        </form>
                    </div>
                </td>
                <td th:text="${nurserySchool.uwagi}"></td>
            </tr>
        </table>
    </div>


</div>

</body>
</html>