<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Panel instruktora</title>
    <script>
        $(document).ready(function () {
            var date = new Date();
            var currentMonth = date.getMonth();
            var currentDate = date.getDate();
            var currentYear = date.getFullYear();

            $('#datepicker').datepicker({
                minDate: new Date(currentYear, currentMonth, currentDate),
                dateFormat: 'yy-mm-dd'
            });
            $('#datepicker1').datepicker({
                minDate: new Date(currentYear, currentMonth, currentDate),
                dateFormat: 'yy-mm-dd'
            });
            $('#datepicker2').datepicker({
                minDate: new Date(currentYear, currentMonth, currentDate),
                dateFormat: 'yy-mm-dd'
            });
            $('#datepicker3').datepicker({
                minDate: new Date(currentYear, currentMonth, currentDate),
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
</head>
<body>

<div class="container" th:fragment="instruktorPanel">
    <ul class="nav nav-pills">
        <li><a data-toggle="pill" class="btn btn-info" href="#naszeLokalizacje">Nasze lokalizacje</a></li>
        <li><a data-toggle="pill" class="btn btn-danger" href="#przedszkola">Przedszkola</a></li>
        <li><a data-toggle="pill" class="btn btn-success" href="#eventy">Zajęcia jednorazowe</a></li>
        <li><a data-toggle="pill" class="btn btn-warning" href="#wydatki">Wydatki</a></li>
        <li><a data-toggle="pill" class="btn btn-default" href="#odbioryGotowki">Gotówka</a></li>
        <li><a data-toggle="pill" class="btn btn-info" href="#cennik">Cennik</a></li>
    </ul>
    <br/>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="naszeLokalizacje">
            <div th:replace="instruktor/listaLokalizacji :: listaLokalizacji"/>
        </div>
        <div class="tab-pane fade" id="przedszkola">
            <div th:replace="instruktor/listaPrzedszkoli :: listaPrzedszkoli"/>
        </div>
        <div class="tab-pane fade" id="eventy">
            <div th:replace="instruktor/eventy :: eventy"/>
        </div>
        <div class="tab-pane fade" id="wydatki">
            <div th:replace="instruktor/wydatki :: wydatki"/>
        </div>
        <div class="tab-pane fade" id="odbioryGotowki">
            <div th:replace="instruktor/odbioryGotowki :: odbiorGotowki"></div>
        </div>
        <div class="tab-pane fade" id="cennik">
            <div th:replace="instruktor/cennik :: cennik"></div>
        </div>

    </div>
</div>



</body>
</html>