<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="listaPrzedszkoli">
    <form action="#" th:action="@{/instruktor/obecnoscWPrzedszkolu}" th:object="${nurserySchool}" method="post">
        <select style="width: 200px" class="form-control" th:field="*{name}">
            <option th:value="default">=Wybierz przedszkole=</option>
            <option th:value="skosna">Bajka Skośna</option>
            <option th:value="lubostron">Bajka Lubostroń</option>
            <option th:value="lenkowo">Lenkowo</option>
            <option th:value="bulgarska">Bułgarska</option>
            <option th:value="lipinskiego">Lipińskiego</option>
        </select>
        <input size="10" th:field="*{numberOfChildren}" type="text" placeholder="Liczba dzieci"/>
        <input size="15" id="datepicker" th:field="*{date}" type="text" placeholder="Data"/>
        <input size="5" th:field="*{value}" type="text" placeholder="Cena"/>
        <input type="submit" class="btn btn-primary" value="Zatwierdź zajęcia"/>
    </form>

</div>

</body>
</html>