<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="listaPrzedszkoli">
    <form th:object="${nurserySchool}" method="post">
        <select name="przedszkola" style="width: 200px" class="form-control" th:field="*{name}">
            <option th:value="default">=Wybierz przedszkole=</option>
            <option th:value="skosna">Bajka Skośna</option>
            <option th:value="lubostron">Bajka Lubostroń</option>
            <option th:value="lenkowo">Lenkowo</option>
            <option th:value="bulgarska">Bułgarska</option>
            <option th:value="lipinskiego">Lipińskiego</option>
        </select>
        Liczba dzieci:<input size="10" th:field="*{numberOfChildren}" type="text"/>
        <input size="15" id="datepicker" th:field="*{date}" type="text" placeholder="Data"/>
        Cena zajęć:<input size="5" th:field="*{value}" type="text" placeholder="Cena"/>
        <input type="submit" class="btn btn-primary" value="Zatwierdź zajęcia"/>
    </form>

    <br/><br/><br/>
    <div>
        <table class="table table-bordered table-condensed table-hover text-center">
            <tr><b>Zajęcia przedszkolne w tym miesiącu:</b><br/></tr>
            <tr style="font-weight: bold;">
                <td>Przedszkole</td>
                <td>Liczba dzieci</td>
                <td>Kwota do faktury</td>
                <td>Data zajęć</td>
            </tr>
            <tr th:each="przedszkole : ${nurserySchoolList} ">
                <td th:text="${przedszkole.name}"></td>
                <td th:text="${przedszkole.numberOfChildren}"></td>
                <td th:text="${przedszkole.value}*${przedszkole.numberOfChildren}"></td>
                <td th:text="${przedszkole.date}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>