<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
    <script>
        function przypiszCene(przedszkole) {

        }
    </script>
</head>
<body>
<div th:fragment="listaPrzedszkoli">

    <form action="#" th:action="@{/instruktor/obecnoscWPrzedszkolu}" method="post">
        <select id="listaPrzedszkoli" style="width: 200px" class="form-control">
            <option>=Wybierz przedszkole=</option>
            <option>Bajka Skośna</option>
            <option>Bajka Lubostroń</option>
            <option>Lenkowo</option>
            <option>Bułgarska</option>
            <option>Lipińskiego</option>
        </select>
        <input size="10" name="value" type="text" placeholder="Liczba dzieci"/>
        <input size="15" name="date" type="text" placeholder="Data"/>
        <input type="submit" class="btn btn-primary" value="Zatwierdź zajęcia"/>

    </form>

</div>

</body>
</html>