<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="listaLokalizacji">
    <a th:href="@{/instruktor/SolneMiasto}">
        <button class="btn btn-info" type="button">Solne Miasto Wtorek</button>
    </a>
    <br/><br/>
    <a th:href="@{/instruktor/Swietokrzyska}">
        <button class="btn btn-info" type="button">Świętokrzyska</button>
    </a>
    <br/><br/>
    <a th:href="@{/instruktor/Kampus}">
        <button class="btn btn-info" type="button">Kampus Wielicki</button>
    </a>
    <br/><br/>
    <a th:href="@{/instruktor/Skawina}">
        <button class="btn btn-info" type="button">Skawina</button>
    </a>
    <br/><br/>
    <a th:href="@{/instruktor/Ruczaj}">
        <button class="btn btn-info" type="button">Ruczaj</button>
    </a>
    <br/><br/>
    <a th:href="@{/instruktor/SolneMiastoPiatek}">
        <button class="btn btn-info" type="button">Solne Miasto Piatek</button>
    </a>
    <br/><br/>
    <a th:href="@{/instruktor/Luzycka}">
        <button class="btn btn-info" type="button">Luzycka</button>
    </a>
    <br/><br/>
    <a th:href="@{/instruktor/Zyrafa}">
        <button class="btn btn-info" type="button">Przedszkole zyrafa</button>
    </a>
</div>
</body>
</html>