<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="listaLokalizacji">
    <table cellpadding="10">
        <tr>
            <td>
                <a th:href="@{/instruktor/SolneMiasto}">
                    <button class="btn btn-info" type="button">Solne Miasto Wtorek</button>
                </a>
                <br/><br/>
                <a th:href="@{/instruktor/Swietokrzyska}">
                    <button class="btn btn-info" type="button">Świętokrzyska</button>
                </a>
                <br/><br/>
                <a th:href="@{/instruktor/Kampus}">
                    <button class="btn btn-info" type="button">Kampus Wielicki</button>
                </a>
                <br/><br/>
                <a th:href="@{/instruktor/Skawina}">
                    <button class="btn btn-info" type="button">Skawina</button>
                </a>
                <br/><br/>
                <a th:href="@{/instruktor/Aleksandry}">
                    <button class="btn btn-info" type="button">Aleksandry-zerówka</button>
                </a>
            </td>
            <td>
                <a th:href="@{/instruktor/Ruczaj}">
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-info" type="button">Ruczaj</button>
                </a>
                <br/><br/>
                <a th:href="@{/instruktor/SolneMiastoPiatek}">
                    &nbsp;&nbsp;
                    <button class="btn btn-info" type="button">Solne Miasto Piatek</button>
                </a>
                <br/><br/>
                <a th:href="@{/instruktor/Luzycka}">
                    &nbsp;&nbsp;
                    <button class="btn btn-info" type="button">Luzycka</button>
                </a>
                <br/><br/>
                <a th:href="@{/instruktor/Zyrafa}">
                    &nbsp;&nbsp;
                    <button class="btn btn-info" type="button">Przedszkole zyrafa</button>
                </a>
                <br/><br/>
                <a th:href="@{/instruktor/testOgolny}">
                    &nbsp;&nbsp;
                    <button class="btn btn-info" type="button">Testy</button>
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>