<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:fragment="wydatki">

    <form  th:object="${expense}" method="post">
        <select style="width: 200px" class="form-control" th:field="*{expenseInstructor}">
            <option th:value="default">=Instruktor=</option>
            <option th:value="Aska">Joanna Cichon</option>
            <option th:value="Lukasz">Lukasz Krason</option>
            <option th:value="Krzysiek">Krzysztof Skotniczny</option>
            <option th:value="Cyprian">Cyprian Foremny</option>
            <option th:value="Kuba">Jakub Zagorowski</option>
        </select>
        <input size="3" name="value" type="text" th:field="*{expenseValue}" placeholder="Kwota"/>
        <input size="35" name="target" type="text" th:field="*{expenseType}" placeholder="Cel"/>
        <input size="15" id="datepicker2" name="date" type="text" th:field="*{expenseData}" placeholder="Data"/>
        Czy faktura: <select th:field="*{bill}">
        <option value="T">Tak</option>
        <option value="N">Nie</option>
    </select>
        <input type="submit" class="btn btn-primary" value="Dodaj wydatek"/>
    </form>
    <br/><br/><br/>
    <div>
        <table class="table table-bordered table-condensed table-hover text-center">
            <tr><b>Wydatki w tym miesiącu:</b><br/></tr>
            <tr style="font-weight: bold;">
                <td>Typ wydatku</td>
                <td>Cena</td>
                <td>Data</td>
                <td>Instruktor</td>
                <td>Faktura</td>
            </tr>
            <tr th:each="expense : ${expenseList} ">
                <td th:text="${expense.expenseType}"></td>
                <td th:text="${expense.expenseValue}"></td>
                <td th:text="${expense.expenseData}"></td>
                <td th:text="${expense.expenseInstructor}"></td>
                <td th:text="${expense.bill}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>