<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:student="http://www.w3.org/1999/xhtml">
<head>

    <title>Panel instruktora</title>
    <meta charset="UTF-8"/>
    <div th:replace="fragments/header :: header-css"/>
    <style>
                footer {
            position: fixed;
            right: 10px;
            bottom: 10px;
        }

        td.odstepy {
            padding: 0px 5px 0px 150px;
        }
    </style>

</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="well ">
    <table>
        <tr>
            <td><img src="http://www.nowysacz.warsztatyrobotow.pl/file/2016/03/02/warsztaty_robotow_nowy_sacz.png"/>
            </td>
            <td class="odstepy"><p>
                <h1>Przedszkole Zyrafa</h1></p></td>
                </tr>
    </table>
</div>
<br/><br/>
<table class="table table-bordered table-condensed table-hover text-center">
    <tr style="font-weight: bold;">
        <td>Kursant</td><td>13.10</td><td>27.10</td><td>10.11</td><td>24.11</td><td>08.12</td><td>22.12</td><td>12.01</td><td>19.10</td>
    </tr>
    <tr>
        <td>Filip Mrawczynski</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td>
    </tr>
    <tr>
        <td>Natan Grandys</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td>
    </tr>
    <tr>
        <td>Jan Nowak</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td><td>17 zł</td>
    </tr>
</table>
<img src="http://ww.zabawkidoris.pl/allegro%20zabawkidoris/KONTENER%20I/mata%20forest/zyrafa-logo-mala.jpg"/>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>