<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Panel instruktora</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>

<div class="container" th:fragment="instruktorPanel">

    <button type="button" class="btn btn-primary btn-lg ">Nasze lokalizacje</button>
    <button type="button" class="btn btn-success btn-lg">Przedszkola</button>
    <button type="button" class="btn btn-danger btn-lg">Eventy</button>
</div>
</body>
</html>