<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <style>
        footer {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

        .well {
            background-color: rgba(200, 245, 255, 0.5);
        }

        td.odstepy {
            padding: 0px 5px 0px 150px;
        }

        .jumbotron {
            padding: 0.2em 0.3em;
        }


    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="well ">
    <table>
        <tr>
            <td><img src="http://www.nowysacz.warsztatyrobotow.pl/file/2016/03/02/warsztaty_robotow_nowy_sacz.png"/>
            </td>
            <td class="odstepy"><p>
                <h1>Podsumowanie zysków</h1></p></td>
        </tr>
    </table>
</div>
<div>
    <li th:each="year: ${dataMap}">
        <div class="btn btn-danger" th:text="${year.key}"></div>
        <th:block th:each="month : ${year.value}">
            <a th:href="${'admin/'}+${year.key}+${month}">
                <button class="btn btn-info" type="button" th:text="${month}"></button>
            </a>
            &nbsp;</th:block>
        <br/><br/><br/>
    </li>
</div>
<div class="container">
    <th:block th:if="${month} != null">
        <div class="jumbotron" style="background-color: #4682B4;">
            <p th:text="${month}"></p>
        </div>
        <div th:replace="admin/ourLocationsSummary :: ourLocationsSummary"/>
    </th:block>

</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>