<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Panel instruktora</title>
    <div th:replace="fragments/header :: header-css"/>
    <style>
        footer {
            position: fixed;
            right: 10px;
            bottom: 10px;
        }

        .well {
            background-color: rgba(200, 245, 255, 0.5);
        }

        td.odstepy {
            padding: 0px 5px 0px 150px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="well ">
    <table>
        <tr>
            <td><img src="http://www.nowysacz.warsztatyrobotow.pl/file/2016/03/02/warsztaty_robotow_nowy_sacz.png"/>
            </td>
            <td class="odstepy"><p>
                <h1>Panel instruktora</h1></p></td>
        </tr>
    </table>
</div>
<div th:replace="instruktor/instruktorPanel :: instruktorPanel"/>

<div th:replace="fragments/footer :: footer"/>


</body>
</html>