<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Panel instruktora</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"/>
    <script src="/app.js"/>
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
    <style>
        footer {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
        body {
            background: url("http://cache.lego.com/r/ldd/-/media/digital%20designer/subpages/mindstorms/mindstorms%20robot.png?l.r2=1612758670") no-repeat fixed bottom right;
        }
        .well {
            background-color: rgba(200, 245, 255, 0.5);
        }
        td.odstepy {
            padding: 0px 5px 0px 150px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="well ">
    <table>
        <tr>
            <td><img src="http://www.nowysacz.warsztatyrobotow.pl/file/2016/03/02/warsztaty_robotow_nowy_sacz.png"/>
            </td>
            <td class="odstepy"><p>
                <h1>Panel instruktora</h1></p></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/instruktorPanel :: instruktorPanel"/>



<div th:replace="fragments/footer :: footer"/>

</body>
</html>