<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Panel managera</title>

    <div th:replace="fragments/header :: header-css"/>
    <style>
        footer {
            position: fixed;
            right: 10px;
            bottom: 10px;
        }

        body {
            background: url("https://c1.staticflickr.com/9/8471/8356675679_169c48727b_b.jpg") no-repeat fixed bottom right;
        }

        .well {
            background-color: rgba(200, 245, 255, 0.5);
        }

        td.odstepy {
            padding: 0px 5px 0px 150px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header"/>


<div class="well ">
    <table>
        <tr>
            <td><img src="http://www.nowysacz.warsztatyrobotow.pl/file/2016/03/02/warsztaty_robotow_nowy_sacz.png"/>
            </td>
            <td class="odstepy"><p>
                <h1>Panel managera</h1></p></td>
        </tr>
    </table>
</div>


<div class="container" th:fragment="instruktorPanel">
    <ul class="nav nav-pills">
        <li><a data-toggle="pill" class="btn btn-info" href="#zestawienie">Zestawienie pracy instruktorow</a>
        </li>
        <li><a data-toggle="pill" class="btn btn-danger" href="#zadania">Zadania do zrealizowania</a></li>
        <li><a data-toggle="pill" class="btn btn-success" href="#plan">Plan długoterminowy</a></li>
    </ul>
    <br/>

</div>
<script>
    $(document).ready(function () {
        var date = new Date();
        var currentMonth = date.getMonth();
        var currentDate = date.getDate();
        var currentYear = date.getFullYear();

        $('#datepicker').datepicker({
            minDate: new Date(currentYear, currentMonth, currentDate),
            dateFormat: 'yy-mm-dd'
        });
    });
</script>


<div th:replace="fragments/footer :: footer"/>
</body>
</html>