<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:padding-left="http://www.w3.org/1999/xhtml"
      xmlns:student="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Panel instruktora</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function clearform()
        {
            document.getElementById("name").value="";
            document.getElementById("lastName").value="";
            document.getElementById("age").value="";
            document.getElementById("telephone").value="";
            document.getElementById("email").value="";
            document.getElementById("parentName").value="";
            document.getElementById("id").value="";
        }
    </script>
</head>
<body>
<img src="http://warsztatyrobotow.pl/img/logo.jpg"/>
<div class="container">
    <h2>Solne Miasto</h2>
</div>
<br/><br/>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover">
        <tr class="info">
            <td >Numer</td>
            <td >Dane opiekuna</td>
            <td >Telefon</td>
            <td >Wiek</td>
            <td >email</td>
            <td >Imie</td>
            <td >Nazwisko</td>
            <td th:each="date: ${dateList}" th:text="${date} "></td>
        </tr>
        <tr th:each="student: ${studentList}">
            <td  th:text="${student.id}" />
            <td  th:text="${student.parentName}" />
            <td  th:text="${student.telephone}" />
            <td  th:text="${student.age}" />
            <td  th:text="${student.email}" />
            <td  th:text="${student.name}" />
            <td  th:text="${student.lastName}" />
            <td th:each="date: ${dateList}">
                <p th:each="payment: ${paymentList}">
                <p th:if="${payment.paymentDate} == ${date}"
                       th:text="(${student.id}==${payment.studentId} )? ${payment.paymentValue}">
                </p></p>
            </td>



        </tr>
    </table>
</div>
<br/>
<div class="table-responsive col-sm-3 sidenav">
<tab>
    <tr>
        <td>Dodaj nowego kursanta do listy:</td>
    </tr>
</tab>

<br/>
<br/>
<form action="#" th:action="@{/user/SolneMiasto}" th:object="${student}" method="post">
    <table>
        <tr>
            <td>Numer:</td> <td><input name="id" type="text" th:field="*{id}" /></td>
            <td>&nbsp;&nbsp;<input type="submit" class="btn btn-primary .btn-xs" value="Dodaj kursanta"/></td></tr>
        <tr>
            <td>Imie:</td> <td><input name="name" type="text" th:field="*{name}" /></td></tr>
        <tr>
            <td>Nazwisko:</td> <td><input name="lastName" type="text" th:field="*{lastName}" /></td>
            <td>&nbsp;&nbsp;<input type="button" class="btn btn-primary .btn-xs" onclick="clearform()" value="Wyczysc pola"/></td></tr>
        <tr>
            <td>Wiek:</td><td> <input name="age" type="text" th:field="*{age}" /></td></tr>
        <tr>
            <td>Dane rodzica:</td><td><input name="parentName" type="text" th:field="*{parentName}" /></td></tr>
        <tr>
            <td>Telefon:</td><td> <input name="telephone" type="text" th:field="*{telephone}" /></td></tr>
        <tr>
            <td>Email:</td><td> <input name="email" type="text" th:field="*{email}" /></td></tr>
    </table>



 </form>

<form action="#" th:action="@{/user/SolneMiasto/usun}" th:object="${student}" method="post">
    Usun kursanta o numerze:<br/>
    <input name="lastName" type="text" th:field="*{id}" />
    <input type="submit" class="btn btn-primary" value="Usun kursanta"/><br/>

</form>

<form action="#" th:action="@{/user/SolneMiasto/dodajDate}" th:object="${courseDate}" method="post">
    Dodaj kolumne<br/>
    <input name="currentDate" type="text" th:field="*{currentDate}" />
     <input type="submit" class="btn btn-primary" value="Dodaj date"/>
</form>
<br/><br/><br/><br/><br/>
</div>

<div class="col-sm-9">
    Dodaj platnosci: <br/><br/>

    <form action="#" th:action="@{/user/SolneMiasto/platnosci}"  th:object="${payment}" method="post">
        <table>
            <tr>
                <td>Wybierz kursanta:&nbsp;&nbsp;</td><td>
                <div class="form-group">
                    <select class="form-control" th:field="*{studentId}" >
                    <option th:each="student: ${studentList}"
                            th:field="*{studentId}"
                            th:text="${student.name}+' '+${student.lastName}"
                            th:value="${student.id}">
                    </option>
                </select>
            </div> </td>
                <td>&nbsp;&nbsp;<input type="submit" class="btn btn-primary .btn-xs" value="Dodaj platnosc"/></td></tr>
            <tr>
                <td>Wybierz Date:</td>
                <td>
                    <div class="form-group">
                        <select class="form-control" th:field="*{paymentDate}">
                            <option th:each="date: ${dateList}"
                                    th:field="*{paymentDate}"
                                    th:text="${date}"
                                    th:value="${date}">
                            </option>
                        </select>
                    </div></td></tr>
            <tr>
                <td>Kwota:</td> <td><input name="kwota" type="text" th:field="*{paymentValue}" /></td></tr>
        </table>
    </form>
</div>

<div  th:replace="fragments/footer :: footer"/>

</body>
</html>